* {
  margin: 0px;
  padding: 0px;
  font-family: 'Mulish', sans-serif;
  
}

.navbar a{
  font-size: 1.5rem !important;
  text-transform: capitalize;
}
.navbar{
  background-color: #fff!important;
}
.navbar a:hover{
  color: #3498db;
  font-weight: bold;
  
}

.menu_active{
    border-bottom: 2px solid rgb(135, 135, 255);
    color:rgb(135,135,255);
  
}

 .text{
  color: rgb(255, 72, 0)!important;
}
#header .started{
  border-radius: 50px!important;
  border: 2px solid blue!important;
  outline: none!important;
  color:rgb(135,135,255)!important;
  text-transform: capitalize!important;
  width: 130px!important;
  border-style: double!important;
}

#header .started:hover{
  background-color: rgb(135, 135, 255);
  color: white!important;
}

#header .brand-name{
  color:rgb(135,135,255);
}
.service{
  color:rgb(135,135,255);
}
/* .cardimg{
  width:200px!important;
  height: 330px!important;
} */

.card-img-top{
  /* width: 100%!important; */
  height: 350px!important;
  width: auto!important;
  /* object-fit: cover!important; */
}

.bdetail{
  border-radius: 10px!important;
  border: 2px solid blue!important;
  outline: none!important;
  color:rgb(135,135,255)!important;
  text-transform: capitalize!important;
  width: 130px!important;
  border-style: double!important;
}

.bdetail:hover{
  color: white!important;
  background-color: #3498db!important;
}

.contact_div{
  width: 70%!important;
}

.form-group{
  margin-bottom: 20px!important;
}

.footer1{
  position: absolute ;
  margin-top: -200px;
  bottom: 0;
  width: 100%;
  height: 25px;
  clear: both;
}